*{
    box-sizing: border-box;

}

.contenedorFlexW{
    display: flex;
    flex-direction: row;
    width: 400px;
    flex-wrap: wrap;
    background-color: rgb(255, 160, 160);
    padding: 10px;
    border: 2px solid black;

}

.item {
    background-color: rgb(255, 250, 250);
    width: 100px;
    margin: 10px;
    border: 2px solid;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
}

.contenedorFlexNW{
    display: flex;
    flex-direction: row;
    width: 800px;
    flex-wrap: nowrap;
    background-color: rgb(255, 195, 155);
    padding: 10px;
    border: 2px solid black;

}

.contenedorFlexJC{
    display: flex;
    flex-direction: row;
    width: 800px;
    
    justify-content: center;
    background-color: rgb(255, 230, 160);
    padding: 10px;
    border: 2px solid black;

}
.contenedorFlexE{
    display: flex;
    flex-direction: row;
    width: 800px;
    
    justify-content: end;
    background-color: rgb(200, 255, 186);
    padding: 10px;
    border: 2px solid black;

}

.contenedorFlexSA{
    display: flex;
    flex-direction: row;
    width: 800px;
   
    justify-content: space-around;
    background-color: rgb(192, 255, 236);
    padding: 10px;
    border: 2px solid black;

}
.contenedorFlexSB{
    display: flex;
    flex-direction: row;
    width: 800px;
    
    justify-content: space-between;
    background-color: rgb(183, 244, 255);
    padding: 10px;
    border: 2px solid black;

}
.contenedorFlexWR{
    display: flex;
    flex-direction: row;
    width: 800px;
    flex-wrap: wrap-reverse;
    background-color: rgb(180, 185, 255);
    padding: 10px;
    border: 2px solid black;

}

.contenedorFlexAIC{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 600px;
    
    align-items: center;
    background-color: rgb(215, 180, 255);
    padding: 10px;
    border: 2px solid black;

}

.contenedorFlexAIFE{
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 600px;

    align-items: flex-end;
    background-color: rgb(255, 194, 255);
    padding: 10px;
    border: 2px solid black;

}

.contenedorFlexOC{
    display: flex;
    flex-direction: center;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 152, 216);
    padding: 10px;
    border: 2px solid black;

}