*{
    margin: 0;
    padding: 0;
}


.titulo{
    font-size: 40px;
    text-align: center;
}

.subtitulo{
    margin: 10px;
    text-align: center;

}

.img{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;

}

.contener{
    border: 2px solid;
    margin: 10px;
    padding: 10px;
    background-color: #b4c3f1;
}

@media screen and (max-width: 1200px) {

    body{
        background-color: rgb(36, 35, 35);
        color: rgb(89, 89, 185);

    }

    .titulo{
        font-size: 30px;

    }
    
}

@media  screen and (max-width:900px) {

    body{
        background-color: #394f92;
        color: rgb(131, 131, 131);
    }

    .titulo{
        font-size: 25px;

    }
    
    .img{
        width: 70%;

    }
    
}

@media  screen and (max-width:600px) {

    body{
        background-color: #513992;
        color: rgb(133, 95, 175);
    }

    .contener{
        background-color: #9d75e7;
    }

    .titulo{
        font-size: 20px;

    }

    .subtitulo{
        font-size: 15px;
    }
    
    .img{
        width: 50%;

    }
    
}

@media  screen and (max-width:400px) {

    body{
        background-color: #aa5dce;
        color: rgb(103, 85, 122);

    }

    .contener{
        background-color: #9d75e7;
    }

    .titulo{
        font-size: 10px;

    }

    .subtitulo{
        font-size: 6px;
    }
    
    .img{
        width: 30%;

    }
    
}
